<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			  			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
						http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
						http://www.springframework.org/schema/data/mongo
          				http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="false">

	<!-- BEGIN ENABLE SPRING ANNOTATED AUTO WIRING -->
	<context:annotation-config/>
    <context:component-scan base-package="com.scrape">
    <context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration"/>
    </context:component-scan>
    
    <!-- Initiliaing Client Webservices -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<!-- JAX-WS REST Service -->
	<jaxrs:server id="jaxrservice" address="/jaxrservice">
		<jaxrs:serviceBeans>
			<bean class="com.scrape.service.JAXREventService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
        </jaxrs:providers>
	</jaxrs:server> 
	
	<!-- BEGIN DATABASE BEAN DECLARATIONS -->
	
	<context:property-placeholder location="classpath*:*.properties"/>
	
     <!-- Activate Spring Data MongoDB repository support -->
	 <mongo:repositories base-package="com.scrape.repository" />
		
	 <!-- Template for performing MongoDB operations -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
     	<constructor-arg name="mongo" ref="mongo"/>
     	<constructor-arg name="databaseName" value="${mongo.db.name}"/>
     </bean>
 
    <!-- MongoDB host -->
	<mongo:mongo host="${mongo.host.name}" port="${mongo.host.port}"/>
     
 	<!-- Use this post processor to translate any MongoExceptions thrown in @Repository annotated classes -->
	 <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
     
     <!--  Spring Quartz for ScrapperJob -->
     
     <bean name="scrapperJob" class="org.springframework.scheduling.quartz.JobDetailBean">
  		<property name="jobClass" value="com.scrape.service.ScrapperJob"/>
  		<property name="jobDataAsMap">
    		<map>
      			<entry key="initEventService" value-ref="initEventService"/>
    		</map>
  		</property>
	</bean>
	
	<bean id="initEventService" class="com.scrape.service.InitEventService"></bean>
	
	
	<bean id="cronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
  		<property name="jobDetail" ref="scrapperJob"/>
 		<!-- run every Friday at 12 PM -->
  		<property name="cronExpression" value="0 0 12 ? * FRI"/> 
  		<!-- run every 5 sec -->
  		<!--  <property name="cronExpression" value="0/5 * * * * ?"/> -->
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTriggerBean" />
			</list>
		</property>
	</bean>
	
</beans>